<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col-2"></div>
      <div class="col-6">
        <div class="form-inputs">
          <%#= f.label :title %>
          <%= f.input :title, size: 30 %>
          <%#= f.label :content %>
          <%= f.input :content, :input_html => { id: "wysiwyg"}%>
          <br>
          <div class="container">
            <div class="row">
              <% @sub_categories.all.each do |sub_category| %>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                  <li><%= check_box_tag "article[sub_category_ids][]", sub_category.id, @article.sub_category_ids.include?(sub_category.id)%>
                  <%= sub_category.name %></li>
                </div>
                <br>
              <% end %>
            </div>
          </div>
       </div>
      </div>
  </div>

  <br>
  <div class="form-actions d-flex justify-content-center"> 
    <%= f.button :submit , class: "btn btn-success" %>
  </div>
<% end %>

<script>
  $('#wysiwyg').froalaEditor({
    inlineMode: false,
    heightMin: '200px',
    widthMin: '500px',
    toolbarButtons: ['bold', 'italic', 'underline'],
  })
</script>

