<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <div class="form-inputs">
        <%= f.input :title, size: 30 %>
        <%= f.input :content, :input_html => { id: "wysiwyg"}%>
        <br>
        <div class="container">
          <div class="row">
            <% @sub_categories.all.each do |sub_category| %>
              <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <li><%= check_box_tag "article[sub_category_ids][]", sub_category.id, @article.sub_category_ids.include?(sub_category.id)%>
                <%= sub_category.name %></li>
              </div>
              <br>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="form-actions d-flex justify-content-center"> 
    <%= f.button :submit , class: "btn btn-success col-md-4 pull-left" %>
  </div>
<% end %>

<script>
  $('#wysiwyg').froalaEditor({
    inlineMode: false,
    heightMin: '200px',
    widthMin: '500px',
    toolbarButtons: ['fullscreen','bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'color', 'clearFormatting', '|', 'emoticons', 'fontAwesome', 'specialCharacters', '-', 'paragraphFormat', 'lineHeight', 'paragraphStyle', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '|', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', '-', 'insertHR', 'selectAll', 'print', 'help','|', 'undo'],
  });

  $("input").focus(function(){
        $(this).css("background-color", "#cccccc");
    });
  $("input").blur(function(){
        $(this).css("background-color", "#ffffff");
    });

</script>
