<p id="notice"><%= notice %></p>

<h1> Articles</h1>
  <div class="container-fluid text-center">
    <ul class="pagination">
      <div class="page-item">
        <% @articles.each do |article| %>
        <div class="row">
          <div class="col-6 col-md-4">
            Date: <%= article.created_at.strftime('%A, %B %d') %>
          </div>
          <div class="col-6 col-md-4">
            <b>Title: <%= article.title %></b>
          </div>
          
            <div class="col-6 col-md-4">
              <%= link_to 'Edit', edit_article_path(article), class: "btn btn-secondary" %>
          </div>
        </div>
        <div class="row">
          <div class="col align-self-center">
            <%= article.content %>
          </div>
        </div>
        <% end %>
      </div>
    </ul>

    <%= will_paginate @articles, :container => false %>
  </div>
