<div class="container">
  <div class="card-columns">
    <div class="mr-10 p-1 mt-sm-1 mb-sm-1 mx-auto ">
      <div class="col-sm-2"></div>
      <div class="card bg-light w-150">
        <h4 class="Article Details"><center>Article Details</center></h4>
        <div class="card-body text-center">
          <p class="card-text">
            <p><h2><%= @article.title%></h2></p>
          </p>
        </div>
              
        <div class="card-body text-center">
          <p class="card-text">
            <div class= "fr-view">
              <%= @article.content.html_safe %>
            </div>
          </p>
        </div>

        <div class="card-body text-center">
          <p class="card-text">
            <p><strong>Sub Categories:</strong></p>
            <ul>
              <% @article.sub_categories.each do |sub_category| %>
                <li><%= sub_category.name %></li>
              <% end %>
            </ul>
          </p>
        </div>      
      </div>
    </div>
  </div>
</div>
   
<div class="mb-4 mt-2 d-flex justify-content-center">   
  <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-sm btn-info" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-sm btn-secondary" %>
</div>
