<%= simple_nested_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <div class="form-inputs">
        <%= f.input :name %>
      </div>

      <h2>Sub categories</h2>
      <%= f.simple_fields_for :sub_categories do |sub_category | %>
        <div class="sub_category_field">
          <div class="form-inputs">
            <%= sub_category.input :name %>
          </div>
          <div class="text-right">
            <%#= sub_category.check_box  %>
            <%= sub_category.link_to_remove "X", class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
      <div id="sub_categories"></div>
    </div>
    <div class="col-6"></div>
      <p><%= f.link_to_add "+ Add SubCategory", :sub_categories, :data => { :target => "#sub_categories" }, class: "btn btn-primary " %></p> 
       <div class="col-8"></div>
        <div class="float-right">
          <%= f.button :submit, class: "btn btn-success" %>
        </div>
  </div>
  <div class="form-actions">
    <%#= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
